<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.nikolas.gallery"
    version="1.0.0">
<name>Gallery</name>
<description>
	Visualizzazione gallery di immagini tramite URL.
	Per utilizzarlo richiamare la funzione execute di gallery
</description>
<author>
	Nikolas Mosca [nikolas_mosca@yahoo.it] 
	Simone Torrisi [storrisi@gmail.com]
	Copyright 2011, 2012 Chris Banes
</author>
<keywords>gallery, gallery url,image url,plugin gallery</keywords>
<license>MIT</license>

<engines>
		<engine name="cordova" version=">=3.0.0"/>
</engines>

<js-module src="www/Gallery.js" name="Gallery">
		<clobbers target="window.plugins.gallery" />
</js-module>

<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Gallery">
				<param name="android-package" value="com.nikolas.gallery" />
			</feature>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
				<uses-permission android:name="android.permission.INTERNET" />
				<activity android:name=".gallery">
						<intent-filter>
								<action android:name="android.intent.action.MAIN" />
								<category android:name="android.intent.category.LAUNCHER" />
						</intent-filter>
				</activity>
		</config-file>
		
		<source-file src="src/android/com/nikolas/gallery/ViewPagerActivity.java" target-dir="src/com/nikolas/gallery/ViewPagerActivity" />
		<source-file src="src/android/com/nikolas/gallery/gallery.java" target-dir="src/com/nikolas/gallery/gallery" />

		
		<source-file src="src/android/Library/res/layout/activity_view_pager.xml" target-dir="res/layout"/>
		<source-file src="src/android/Library/res/menu/viewpager_menu.xml" target-dir="res/menu"/>
		<source-file src="src/android/Library/res/values/strings.xml" target-dir="res/values"/>
</platform>
</plugin>
